<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lisää sarja</title>

<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Sarja</h1>
	<form action="#" th:action="@{/uusisarja}" th:object=${sarja}
		method="post">
		<div class="form-group">
			<label for="Nimi" class="col-sm-1 col-form-label">Nimi: </label>
			<div class="col-sm-11">
			<input type="text" th:field="${sarja.title}" />
			</div>
			</div >
			<div class="form-group">
			<label for="Kaudet" class="col-sm-1"> Kausien lukumäärä: </label> 
			<div class="col-sm-11">
			<input type="text" th:field="${sarja.seasons}" /> 
			</div>
			</div>
			<div class="form-group">
			<label for="Ensimmäinen kausi (vuosi)" class="col-sm-1">Ensimmäinen kausi (vuosi): </label>
			<div class="col-sm-11" >
			<input type="text" th:field="${sarja.yearstart}" /> 
			</div>
			</div>
			<div class="form-group">
			<label for="Viimeisin kausi (vuosi)" class="col-sm-1">Viimeisin kausi (vuosi): </label> 
			<div class="col-sm-11" >
			<input type="text" th:field="${sarja.yearend}" />
			</div>
		</div>
		<div style="clear: both; display: block; height: 10px;"></div>
		<div style="width: 200px; padding-left: 20px">
		<div class="form-group">
			<label for="palvelulista">Palvelu</label> 
			<div  >
			<select id="palvelulista"
				th:field="*{palvelu}" class="form-control">
				
				<option th:each="palvelu: ${palvelut}"
					th:value="${palvelu.palveluid}" th:text="${palvelu.name}">
					</option>
			</select> 
			</div>
			</div>
			<div class="form-group">
			<label for="statuslista" class="col-sm-1">Status</label> <select id="statuslista"
				th:field="*{status}" class="form-control">
				<option th:each="status: ${statuses}" th:value="${status.statusid}"
					th:text="${status.title}"></option>
			</select>
		</div>
		</div>
		<div style="clear: both; display: block; height: 10px;"></div>

		<input type="submit" value="Lisää sarja" class="btn btn-success" /> <input
			type="reset" value="Tyhjennä" class="btn btn-danger" />
	</form>

</body>
</html>