<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<title>Sarjat</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<div class="col-md-4">
		<h1>Sarjat</h1>
	</div>
		<div class="col-md-4">
		
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div>

	<div class="col-md-4" style="padding:20px 0">
		
	</div>
	<table  class="table table-striped">
		<tr>
			<th>Nimi</th>
			<th>Kausia</th>
			<th>Ensimmäinen kausi</th>
			<th>Viimeisin kausi</th>
			<th>Palvelu</th>
			<th>Status</th>
			
		</tr>

		<tr th:each="sarja : ${sarjat}">
			<td th:text="${sarja.title}">nimi</td>
			<td th:text="${sarja.seasons}">kausia</td>
			<td th:text="${sarja.yearstart}">alkoi</td>
			<td th:text="${sarja.yearend}">päättyi</td>
			<td th:text="${sarja.palvelu.name}">palvelu</td>
			<td th:text="${sarja.status.title}">palvelu</td>
			
	
	<td><a th:href="@{/poistasarja/{id}(id=${sarja.id})}" class="btn btn-danger">Delete</a></td>
	<td><a th:href="@{/muokkaasarja/{id}(id=${sarja.id})}">Edit</a></td>
	</tr>
	</table>
	<a href="/uusisarja" class="btn btn-success" >uusi sarja</a>
</body>
</html>