<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
<title>Sarjat</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<style>
body {
  background-image: url(movie.jpg);
  background-repeat: repeat-x;
}
</style>
</head>
<body>
<header style="height: 200px">
<div class="row">
		<div class="col-lg-4">
		<h1>Kivat TV-sarjat</h1>
		</div>
		<div class="col-lg-4">
		<h3 th:inline="text">Tervetuloa [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input sec:authorize="hasAuthority('ADMIN')" type="submit" value="Kirjaudu ulos" class="btn btn-danger"/>
		</form>

	</div>
	</div>
	<div style="padding-top: 50px" >
	<h4>Täältä löytyy kaikkea kivaa!</h4>
	</div>
	</header>
	<table class="table table-striped table-bordered table-hover">
	<caption>Lista TV-sarjoja</caption>
	  <thead class="thead-dark">
		<tr>
			<th>Nimi</th>
			<th>Kausien lukumäärä</th>
			<th>Ensimmäinen kausi</th>
			<th>Viimeisin kausi</th>
			<th>Palvelu</th>
			<th>Status</th>
			<th sec:authorize="hasAuthority('ADMIN')"> </th> 
			<th sec:authorize="hasAuthority('ADMIN')"> </th> 
		</tr>
		</thead>

		<tr th:each="sarja : ${sarjat}">
			<td th:text="${sarja.title}">nimi</td>
			<td th:text="${sarja.seasons}">kausia</td>
			<td th:text="${sarja.yearstart}">alkoi</td>
			<td th:text="${sarja.yearend}">päättyi</td>
			<td th:text="${sarja.palvelu.name}">palvelu</td>
			<td th:text="${sarja.status.title}">status</td>
			
	
	<td sec:authorize="hasAuthority('ADMIN')"><a 
	th:href="@{/poistasarja/{id}(id=${sarja.id})}" class="btn btn-danger">Poista</a></td>
	<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/muokkaasarja/{id}(id=${sarja.id})}" class="btn btn-warning">Muokkaa</a></td>
	</tr>
	</table>
	
	<a href="/uusisarja" class="btn btn-success" sec:authorize="hasAuthority('ADMIN')" >Lisää uusi sarja</a>
	<button id="admin">Oletko admin?</button>
	<div id="tila">
	</div>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script th:inline="javascript">
$(document).ready(function(){
    $("#admin").one('click', (function(){
        	$("#tila").append("<p ><a href=&quot;@{/login}&quot;>Siirry kirjautumissivulle</a></p>")
        	
    }));
  
});
</script>
</body>
</html>